.link-html {
    min-height: 100%;
}

.link-body {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    min-height: 100%;
}

.link-content {
    padding-top: 2rem;
}

.link-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.link-verified {
    color: #3897F0;
}

.link-btn {
    position: relative;
    white-space: normal;
    word-wrap: break-word;
    padding: 1rem 4.5rem;
    font-size: 1.1rem;
    box-shadow: 0 0 20px #00000010;
    border: 0;
    transition: opacity 0.3s, background 0.3s;
    border-radius: 0;
}

.link-btn:hover {
    animation: none;
}

.link-btn-round {
    border-radius: 50px;
}

.link-btn-rounded {
    border-radius: .3rem;
}

.link-btn-image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 45px;
    max-height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
    margin-left: -4.1rem;
}

.link-grid-image-wrapper {
    position: relative;
    height: 10rem;
    width: 100%;
    background: var(--primary-100);
    border-radius: .25rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .link-grid-image-wrapper {
        height: 20rem;
    }
}


.link-grid-image-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 1rem;
}

.link-grid-image-overlay-text {
    color: white;
    font-size: 1.1rem;
}

.link-btn-image {
    width: 100%;
    height: auto;
}

.link-iframe-round {
    border-radius: .3rem;
    overflow:hidden;
    position:relative;
}

.tiktok-embed {
    border-radius: .3rem !important;
}

.link-footer {
    margin: 3rem 0;
    font-size: .9rem;
}

/* Background presets */
.link-body-background-one {
    background-image: linear-gradient(111.7deg, #a529b9 19.9%, #50b1e1 95%);
}

.link-body-background-two {
    background-image: linear-gradient(109.6deg, #ffb418 11.2%, #f73131 91.1%);
}

.link-body-background-three {
    background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}

.link-body-background-four {
    background-image: linear-gradient(to bottom, #ff758c, #ff7eb3);
}

.link-body-background-five {
    background-image: linear-gradient(292.2deg, #3355ff 33.7%, #0088ff 93.7%);
}

.link-body-background-six {
    background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}
